@import "../../styles/base.scss";

.list-card-recipies {
  padding: 40px 0;
  .container {
    @include wrapper;
    .card-recipies {
      @include row;
      .card-item {
        text-align: center;
        padding: 5px;
        background-color: $secondary-color;
        border-radius: 10px;
        width: 160px;
        box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
        .body-text {
          padding: 90px 20px 30px 20px;
          background-color: $primary-color;
          border-radius: 10px;
          img {
            position: absolute;
            top: -40px;
            left: 20%;
            border-radius: 50%;
            box-shadow: 0 8px 10px $shadow-color;
            @include apply-at-lg-size {
              width: 110px;
            }
            @include apply-at-md-size {
              left: 20%;
              width: 120px;
            }
          }
        }
      }
    }
  }
}
